#chartdiv1 {
    margin-top: 40px;
    width: 90%;
    height: 250px;
}

#chartdiv2 {
    margin-top: 40px;
    width: 80%;
    height: 250px;
}

.list-group-item {
    padding-top: .3rem .8rem;
}

.list-group-item>.lead {
    font-size: .8rem;
}